@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 20px 0;
}

h1, .track{
    margin-bottom: 7px;
    color: rgb(219, 212, 212);
    font-size: 18px;
}

.curdate, .curtime{
    font-size: 13px;
    color: gray;
}

.section-begin{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: black;
}

.image{
    order:1;
    justify-self: right;
    width: 220px;
}

.image img{
    width: 200px;
    border-radius: 95px;
}

.info{
    padding: 10px 20px;
    text-align: center;
    line-height: 25px;
}

.section-end{
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
    border: 1px solid gray;
}

.section-end a{
    text-decoration: none;
    color: rgb(219, 212, 212);
}

@media screen and (max-width: 600px) {
    main{
        width: 350px;
    }

    .image{
        width: 170px;
    }
    
    .image img{
        width: 140px;
        border-radius: 90px;
    }
}